<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grantmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name" 
            android:noHistory="true">
            <intent-filter>
    			<data android:scheme="grantapp" />
    			<action android:name="android.intent.action.VIEW" />
    			<category android:name="android.intent.category.BROWSABLE" />
        		<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
			    <data
			        android:host="mid-state.net"
                    android:pathPrefix="/mobileclass2/android"
                    android:scheme="http" />
    			<action android:name="android.intent.action.VIEW" />
    			<category android:name="android.intent.category.BROWSABLE" />
        		<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>   
		<activity
		    android:name="com.example.grantmobile.DetailViewActivity" 
		    android:screenOrientation="portrait" 
		    android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.example.grantmobile.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.grantmobile.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.grantmobile.MonthSelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.grantmobile.GrantSelectActivity"
            android:label="@string/title_activity_grant_select"
            android:parentActivityName="com.example.grantmobile.MonthSelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.grantmobile.MonthSelectActivity" />
        </activity>
        <activity
            android:name="com.example.grantmobile.CalendarEditActivity"
            android:label="@string/title_activity_calendar_edit">
        </activity>
        <activity
            android:name="com.example.grantmobile.DetailEditActivity"
		    android:screenOrientation="portrait" 
            android:label="@string/app_name">
        </activity>
        <service
            android:name="com.example.grantmobile.GrantService">
        </service>
    </application>

</manifest>